@mixin gradient() {
  background: #600cb5;
  background: linear-gradient(#b70dce, #600cb5);
}

@mixin box-shadow($intense: null) {
  @if $intense == "deep" {
    box-shadow: 0 2px 2px rgba(211, 214, 215, 0.5),
    0 4px 4px rgba(211, 214, 215, 0.5), 0 16px 16px rgba(211, 214, 215, 0.5),
    0 32px 32px rgba(211, 214, 215, 0.5), 0 64px 64px rgba(211, 214, 215, 0.5);
  }
  @if $intense == "normal" {
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
  }
  @if $intense == "medium" {
    box-shadow: 0 -1px 2px rgba(211, 214, 215, 0.25),
    0 4px 4px rgba(211, 214, 215, 0.2), 0 16px 16px rgba(211, 214, 215, 0.2),
    0 32px 32px rgba(211, 214, 215, 0.2), 0 64px 64px rgba(211, 214, 215, 0.2);
  }
  @if $intense == "very-deep" {
    box-shadow: 0 5px 41px rgba(0, 0, 0, 0.38), 0 0 1px 0 rgba(0, 20, 51, 0);
  }
}
